.my-col{
  /*border: 1px solid red;*/
}

body{
  /*margin: 15px 42px 15px 42px;*/
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', Helvetica ,sans-serif !important;
}

.my-header, .my-carousel{
  margin: 15px 42px 0 42px;
}

  .my-carousel{
    padding: 0 !important;
  }

/*Responsive Tablet/celular*/
@media only screen and (max-width: 990px) {
  .my-header, .my-carousel{
    margin: 5px !important;
  }
  .h1carousel{
    
  }
  .chatfijo{
    visibility: hidden;
  }

}

/*Responsive celular*/
@media only screen and (max-width: 430px){
  .main-footer{
    padding: 15px 25px 0 25px !important;
  }
  .h1carousel{
    font-size: 2.2vh !important;
  }
  
}

/*CONTACTO*/
.css-container{
  display: grid; 
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1fr 0.1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Contacto Contacto Contacto"
    "FormsLabels Forms Vacio"
    "FormsLabels Info Vacio";
}

.Info i{
  color: #023859;
  padding-right: 5px;
}

.Forms, .FormsLabels{
  padding: 2em 0;
}
  .FormsLabels div{
    padding: 0 5em 0 0;
  }
    .Forms button{
    background: #023859;
  }

#email-text-contacto{
  padding-right: 20px;
}
#numero-text-contacto{
  padding-left: 20px;
}

.Vacio { grid-area: Vacio; }
.FormsLabels { grid-area: FormsLabels; }
.Forms { grid-area: Forms; }
.Contacto { grid-area: Contacto; }
.Info { grid-area: Info; }
/*CONTACTO*/

.nav-link{
  color: #0388A6 !important;
}

.active{
  text-decoration: underline;
}

.h1carousel{
  margin-top: 30px;
  color: #F29B30;
  background: #023859;
  border-radius: 25px 25px 0 0;
  font-weight: 600;
}

.crop-imgs img{
    max-height: 700px; /* height of container */
    object-fit: cover;
}

.tourism-logo-destacado img{
  /*
  width: 190px;
  height: 118px;
  */
  width: 13vmax;
  height: auto;
}

.footer1container{
  background: #214001;
}
  .main-footer{
    margin: 80px 0 0 0;
    padding: 30px 50px 0 50px;
    background: #214001;
    color: white;
    width: 100%;
    /*! border: 2px solid blue; */
  }
    .main-footer a{
     color: #D4D93D;
     text-decoration: none;
    }
      .main-footer a:hover{
        text-decoration: underline;
      } 

.socials{
  padding: 20px;
}
  .fa-twitter{
    margin-right: 25px;
  }
  .fa-facebook, .fa-instagram, .fa-youtube{
    margin-left: 25px;
  }

.footerorg p{
  margin-left: 5px !important;
}

.second-footer{
  padding: 0 10px 0 10px !important;
  margin: 20px 0 20px 0;
}
  .second-footer p{
    color: #0388A6;
    margin: 0 2% 0 0;
  }

.chatfijo{
  z-index: 999;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 15px 42px 15px 42px;
}